<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.AdminMapper">
	<!-- login 테스트 -->
	<select id="selectAdminByLogin" 
			parameterType="com.gd.gym.vo.Admin"
			resultType="com.gd.gym.vo.Admin">
		SELECT
			admin_id adminId,
			admin_name adminName,
			admin_mail adminMail
		FROM
			admin
		WHERE
			admin_mail = #{adminMail}
		AND
			admin_pw = PASSWORD(#{adminPw})
	</select>
</mapper>