<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.BranchMemberMapper">
	<!-- 지점장 데이터 세션 저장용 -->
	<select id="selectMemberLoginByBranch" 
			parameterType="com.gd.gym.vo.BranchMember" 
			resultType="com.gd.gym.vo.BranchMember">
		SELECT
			m.member_id memberId,
			m.member_name memberName,
			m.member_mail memberMail,
			br.permission_id permissionId,
			br.branch_name branchName
		FROM branch br
			LEFT JOIN permission p
				ON br.permission_id = p.permission_id
			LEFT JOIN building bu 
				ON bu.building_id = p.building_id
			LEFT JOIN member m
				ON m.member_id = bu.member_id
		WHERE
			m.member_mail = #{memberMail}
		AND 
			m.member_pw = PASSWORD(#{memberPw})
	</select>
</mapper>