<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.ContractMapper">
	<!-- 지점 계약조건 입력 -->
	<insert id="insertContract"
			parameterType="com.gd.gym.vo.Contract">
		INSERT INTO
			contract(
				admin_id,
				contract_name,
				contract_loyalty,
				contract_duration,
				contract_deposit,
				last_update
			)
			VALUES(
				#{adminId},
				#{contractName},
				#{contractLoyalty},
				#{contractDuration},
				#{contractDeposit},
				NOW()
			)
	</insert>
	<!-- 지점 계약조건 목록 테이블 -->
	<select id="selectContract"
			resultType="com.gd.gym.vo.Contract">
		SELECT
			contract_id contractId,
			admin_id adminId,
			contract_name contractName,
			contract_loyalty contractLoyalty,
			contract_duration contractDuration,
			contract_deposit contractDeposit,
			last_update lastUpdate
		FROM
			contract
	</select>
	<!-- 지점 계약조건 상세목록 테이블 -->
	<select id="selectContractOne"
			resultType="com.gd.gym.vo.Contract"
			parameterType="com.gd.gym.vo.Contract">
		SELECT
			contract_id contractId,
			admin_id adminId,
			contract_name contractName,
			contract_loyalty contractLoyalty,
			contract_duration contractDuration,
			contract_deposit contractDeposit,
			last_update lastUpdate
		FROM
			contract
		WHERE
			contract_id = #{contractId}
	</select>
	<!-- 지점 계약조건 수정 -->
	<update id="updateContract"
			parameterType="com.gd.gym.vo.Contract">
		UPDATE
			contract
		SET
			admin_id = #{adminId},
			contract_name = #{contractName},
			contract_loyalty = #{contractLoyalty},
			contract_duration = #{contractDuration},
			contract_deposit = #{contractDeposit},
			last_update = NOW()
		WHERE
			contract_id = #{contractId}
	</update>
	
	<!-- 지점 계약조건 삭제 -->
	<delete id="deleteContract"
			parameterType="Integer">
		DELETE FROM
			contract
		WHERE
			contract_id = #{contractId}
	</delete>
</mapper>