<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.LectureMemberInbodyMapper">
	<!-- 강좌 회원 인바디 입력 -->
	<insert id="insertLectureMemberInbody"
			parameterType="com.gd.gym.vo.LectureMemberInbody">
		INSERT INTO lecture_member_inbody (
			lecture_member_entrance_record_id,
			trainer_application_id,
			weight,
			skeletal_muscle_mass,
			body_fat_mass,
			BMI,
			percent_body_fat,
			height,
			age,
			gender,
			inbody_date,
			last_update
		) VALUES (
			#{lectureMemberEntranceRecordId},
			#{trainerApplicationId},
			#{weight},
			#{skeletalMuscleMass},
			#{bodyFatMass},
			#{BMI},
			#{percentBodyFat},
			#{height},
			#{age},
			#{gender},
			#{inbodyDate},
			NOW()
		)		
	</insert>
	
	<!-- 강좌 회원 인바디 목록 -->
	<select id="selectLectureMemberInbodyList"
			parameterType="int"
			resultType="map">
		SELECT
			lmi.lecture_member_inbody_id lectureMemberInbodyId,
			DATE_FORMAT(lmer.entrance_time,'%Y-%m-%d') entranceTime,
			lmi.trainer_application_id trainerApplicationId,
			lmi.inbody_date inbodyDate
		FROM lecture_member_inbody lmi
			JOIN lecture_member_entrance_record lmer ON lmi.lecture_member_entrance_record_id = lmer.lecture_member_entrance_record_id
			JOIN lecture_member lm ON lmer.lecture_member_id = lm.lecture_member_id
			JOIN member m ON lm.member_id = m.member_id
		WHERE m.member_id = #{memberId}
	</select>
	
	<!-- 강좌 회원 인바디 상세보기 -->
	<select id="selectLectureMemberInbodyOne"
			parameterType="int"
			resultType="map">
		SELECT
			lmi.lecture_member_inbody_id lectureMemberInbodyId,
			DATE_FORMAT(lmer.entrance_time,'%Y-%m-%d') entranceTime,
			lmi.trainer_application_id trainerApplicationId,
			lmi.weight weight,
			lmi.skeletal_muscle_mass skeletalMuscleMass,
			lmi.body_fat_mass bodyFatMass, 
			lmi.BMI BMI,
			lmi.percent_body_fat percentBodyFat,
			lmi.height height,
			lmi.age age,
			lmi.gender gender,
			DATE_FORMAT(lmi.inbody_date,'%Y-%m-%d') inbodyDate
		FROM lecture_member_inbody lmi
			JOIN lecture_member_entrance_record lmer ON lmi.lecture_member_entrance_record_id = lmer.lecture_member_entrance_record_id
		WHERE lmi.lecture_member_inbody_id = #{lectureMemberInbodyId}
	</select>

</mapper>