<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.LectureMapper">
	<!-- 강의실 조회 -->
	<select id="selectLectureRoomList"
			resultType="com.gd.gym.vo.LectureRoom">
		SELECT
			lecture_room_id lectureRoomId,
			permission_id permissionId,
			lecture_room_name lectureRoomName,
			lecture_room_capacity lectureRoomCapacity,
			last_update lastUpdate
		FROM
			lecture_room
	</select>
	
	<!-- 강의실 입력 -->
	<insert id="insertLectureRoom"
			parameterType="com.gd.gym.vo.LectureRoom">
		INSERT INTO
			lecture_room(
				permission_id,
				lecture_room_name,
				lecture_room_capacity,
				last_update
			)
			VALUES(
				#{permissionId},
				#{lectureRoomName},
				#{lectureRoomCapacity},
				NOW()
			)
	</insert>

	<!-- 강의실 수정 -->
	<update id="updateLectureRoom"
			parameterType="com.gd.gym.vo.LectureRoom">
		UPDATE
			lecture_room
		SET
			lecture_room_id = #{lectureRoomId},
			permission_id = #{permissionId},
			lecture_room_name = #{lectureRoomName},
			lecture_room_capacity = #{lectureRoomCapacity},
			last_update = NOW()
		WHERE
			lecture_room_id = #{lectureRoomId}
	</update>
	
	<!-- 강의실 삭제 -->
	<delete id="deleteLectureRoom"
			parameterType="Integer">
		DELETE FROM
			lecture_room
		WHERE
			lecture_room_id = #{lectureRoomId}
	</delete>
</mapper>