<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.LectureCategoryMapper">
	<!-- 강좌 카테고리 입력 -->
	<insert id="insertLectureCategory"
			parameterType="com.gd.gym.vo.LectureCategory">
		INSERT INTO
			lecture_category(
				lecture_category,
				last_update
			)
			VALUES(
				#{lectureCategory},
				NOW()
			)
	</insert>
	<!-- 강좌 카테고리 목록 테이블 -->
	<select id="selectLectureCategory"
			resultType="com.gd.gym.vo.LectureCategory">
		SELECT
			lecture_category_id lectureCategoryId,
			lecture_category lectureCategory,
			last_update lastUpdate
		FROM
			lecture_category
	</select>
	<!-- 강좌 카테고리 상세목록 테이블 -->
	<select id="selectLectureCategoryOne"
			resultType="com.gd.gym.vo.LectureCategory"
			parameterType="com.gd.gym.vo.LectureCategory">
		SELECT
			lecture_category_id lectureCategoryId,
			lecture_category lectureCategory,
			last_update lastUpdate
		FROM
			lecture_category
		WHERE
			lecture_category_id = #{lectureCategoryId}
	</select>
	<!-- 강좌 카테고리 수정 -->
	<update id="updateLectureCategory"
			parameterType="com.gd.gym.vo.LectureCategory">
		UPDATE
			lecture_category
		SET
			lecture_category = #{lectureCategory},
			last_update = NOW()
		WHERE
			lecture_category_id = #{lectureCategoryId}
	</update>
	
	<!-- 강좌 카테고리 삭제 -->
	<delete id="deleteLectureCategory"
			parameterType="Integer">
		DELETE FROM
			lecture_category
		WHERE
			lecture_category_id = #{lectureCategoryId}
	</delete>
</mapper>