<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.LockerRentalMapper">
	<!-- 락커ID + 현재 적용중인 락커 1개월비용 ID 부여 -->
	<insert id="insertLockerRental"
			parameterType="Integer">
		INSERT INTO
			locker_rental ( 
				locker_id,
				locker_rental_price_id,
				sold_date
			) VALUES (
				#{lockerId},
				#{lockerRentalPriceId},
				NOW()
			)
	</insert>
	<!-- 현재 락커1개월 비용이 적용중인 락커이용권 삭제 -->
	<delete id="deleteLocekRentalByLockerRentalPriceId"
			parameterType="Integer">
		DELETE
			lr
		FROM
			locker_rental lr
			JOIN  locker l
			ON l.locker_id = lr.locker_id
			JOIN locker_rental_price lrp
			ON lrp.locker_rental_price_id = lr.locker_rental_price_id
		<!-- 부등호 감싸기 -->
		<![CDATA[
		WHERE
			DATE_FORMAT(SYSDATE(), '%Y%m%d') >= DATE_FORMAT(START_DATE, '%Y%m%d') 
		AND
			DATE_FORMAT(SYSDATE(), '%Y%m%d') <= DATE_FORMAT(END_DATE, '%Y%m%d')
		]]>	
	</delete>
	<!-- 현재 락커1개월 비용이 적용중인 락커이용권 COUNT 구하기 -->
	<select id="selectLockerRentalCntByLocekrRentalPriceId"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			locker_rental lr
			JOIN  locker l
			ON l.locker_id = lr.locker_id
			JOIN locker_rental_price lrp
			ON lrp.locker_rental_price_id = lr.locker_rental_price_id
		<!-- 부등호 감싸기 -->
		<![CDATA[
		WHERE
			DATE_FORMAT(SYSDATE(), '%Y%m%d') >= DATE_FORMAT(START_DATE, '%Y%m%d') 
		AND
			DATE_FORMAT(SYSDATE(), '%Y%m%d') <= DATE_FORMAT(END_DATE, '%Y%m%d')
		]]>
	</select>
	<!-- 지점별 판매중인 확인 -->
	<select id="selectLockerRentalCheck"
			resultType="java.util.Map"
			parameterType="Integer">
		SELECT
			l.locker_number lockerNumber,
			lr.locker_rental_id lockerRentalId,
			if(llm.locker_rental_id IS NULL, 'O','X') Ck
		FROM
			locker l
			LEFT join locker_rental lr
			ON l.locker_id = lr.locker_id
			LEFT JOIN locker_lecture_member llm
			ON lr.locker_rental_id = llm.locker_rental_id
		WHERE
			l.permission_id = #{permissionId}
	</select>
</mapper>