<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.MembershipMemberMapper">
	<!-- 운동이용권 구매 -->
	<!-- 1. 구매 -->
	<insert id="insertMembershipMember"
			parameterType="com.gd.gym.vo.MembershipMember">
		INSERT INTO membership_member(
			permission_id,
			member_id,
			membership_price_id,
			sold_date,
			start_date,
			end_date,
			last_update	
		) VALUES (
			#{permissionId},
			#{memberId},
			#{membershipPriceId},
			NOW(),
			#{startDate},
			#{endDate},
			NOW()	
		)
		<selectKey keyProperty="membershipMemberId" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 2. 구매비용 추가 -->
	<insert id="insertMembershipAmount" parameterType="map">
		INSERT INTO membership_amount(
			membership_member_id,
			amount
		) VALUES (
			#{membershipMemberId},
			#{amount}
		)
	</insert>
</mapper>