<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.MemberMapper">
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="com.gd.gym.vo.Member">
		INSERT INTO member(member_name, member_mail, member_pw, member_address, member_phone, create_date, last_update, post_code, member_detailAddress, member_extraAddress) VALUES(#{memberName}, #{memberMail}, PASSWORD(#{memberPw}), #{memberAddress}, #{memberPhone}	, NOW(), NOW(), #{postCode}, #{memberDetailAddress}, #{memberExtraAddress})
	</insert>
	
	<!-- 로그인 -->
	<select id="selectMemberLogin" parameterType="com.gd.gym.vo.Member" resultType="com.gd.gym.vo.Member">
		SELECT
			member_id memberId,
			member_mail memberMail,
			member_name memberName
		FROM
			member
		WHERE member_mail = #{memberMail} AND member_pw = PASSWORD(#{memberPw})
	</select>
	
	<!-- 이메일 중복 확인 -->
	<select id="selectMailCheck" parameterType="String" resultType="Integer">
		SELECT
			member_id memberId
		FROM
			member
		WHERE member_mail = #{memberMail}
	</select>
	
	<!-- 회원 탈퇴 -->
	<delete id="deleteMember" parameterType="com.gd.gym.vo.Member">
		DELETE FROM member WHERE member_mail = #{memberMail} AND member_pw = PASSWORD(#{memberPw})
	</delete>
	
	<!-- 강좌를 구매한 회원 -->
	<select id="selectLectureMember"
			parameterType="int"
			resultType="com.gd.gym.vo.CurrentLectureMember">
		SELECT
			lecture_member_id lectureMemberId,
			member_id memberId,
			member_name memberName,
			lecture_id lectureId,
			lecture_name lectureName,
			start_date startDate,
			end_date endDate
		FROM
			current_lecture_member 
		WHERE
			member_id = #{memberId}
	</select>
	
	<!-- 임시 비밀번호로 변경 -->
   <update id="updateMemberPw" parameterType="com.gd.gym.vo.Member">
   		UPDATE member SET member_pw = PASSWORD(#{memberPw}) WHERE member_mail = #{memberMail}
   </update>
   
   <!-- 회원정보 가져오기-->
   <select id="selectMemberOne" parameterType="int" resultType="com.gd.gym.vo.Member">
   		SELECT
   			member_name memberName,
   			member_mail memberMail,
   			member_address memberAddress,
   			member_phone memberPhone,
   			post_code postCode,
   			member_detailAddress memberDetailAddress,
   			member_extraAddress memberExtraAddress
   		FROM
   			member
   		WHERE member_id = #{memberId}
   </select>
   
   <!-- 회원 수정 -->
   <update id="updateMember" parameterType="com.gd.gym.vo.Member">
   		UPDATE member SET member_pw = PASSWORD(#{memberPw}), member_address=#{memberAddress}, member_phone=#{memberPhone}, last_update = NOW(), post_code = #{postCode}, member_detailAddress = #{memberDetailAddress}, member_extraAddress = #{memberExtraAddress} WHERE member_id = #{memberId}
   </update>
</mapper>