<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.MemberEntranceRecordMapper">
	<!-- 회원 출입기록 조회 (목록) -->
	<select id="selectMemberEntranceRecordList"
			parameterType="int"
			resultType="map">
		SELECT
			m.member_name memberName,
			case when mm.membership_member_id IS NOT NULL then '운동회원'
				 when lm.lecture_member_id IS NOT NULL then '강좌회원'
				 END AS memberType,
			case when me.membership_member_entrance_record_id IS NOT NULL then me.entrance_time
				 when le.lecture_member_entrance_record_id IS NOT NULL then le.entrance_time
				 END AS entranceTime,
			case when me.membership_member_entrance_record_id IS NOT NULL then me.exit_time
				 when le.lecture_member_entrance_record_id IS NOT NULL then le.exit_time
				 END AS exitTime
		FROM member m
		LEFT JOIN membership_member mm ON m.member_id = mm.membership_member_id
		LEFT JOIN membership_member_entrance_record me ON mm.membership_member_id = me.membership_member_entrance_record_id AND me.permission_id = #{permissionId}
		LEFT JOIN lecture_member lm ON m.member_id = lm.member_id
		LEFT JOIN lecture_member_entrance_record le ON lm.lecture_member_id = le.lecture_member_id AND le.permission_id = #{permissionId}
		ORDER BY exitTime desc
	</select>
</mapper>