<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.MembershipMemberInbodyMapper">
	<!-- 트레이너가 관리하는 인바디 목록 -->
	<select id="selectMembershipMemberInbodyList"
			parameterType="int"
			resultType="map">
		SELECT
			mmi.membership_member_inbody_id membershipMemberInbodyId,
			m.member_name memberName,
			mmi.trainer_application_id trainerApplicationId,
			DATE_FORMAT(mmi.inbody_date,'%Y-%m-%d') inbodyDate
		FROM membership_member_inbody mmi
			JOIN membership_member_entrance_record mmer ON mmer.membership_member_entrance_record_id = mmi.membership_member_entrance_record_id
			JOIN membership_member mm ON mmer.membership_member_id = mm.membership_member_id
			JOIN member m ON mm.member_id = m.member_id
	</select>
	
	<!-- 운동이용권 회원 인바디 입력 -->
	<insert id="insertMembershipMemberInbody"
			parameterType="com.gd.gym.vo.MembershipMemberInbody">
		INSERT INTO membership_member_inbody (
			membership_member_entrance_record_id,
			trainer_application_id,
			weight,
			skeletal_muscle_mass,
			body_fat_mass,
			BMI,
			percent_body_fat,
			height,
			age,
			gender,
			inbody_date,
			last_update
		) VALUES (
			#{membershipMemberEntranceRecordId},
			#{trainerApplicationId},
			#{weight},
			#{skeletalMuscleMass},
			#{bodyFatMass},
			#{BMI},
			#{percentBodyFat},
			#{height},
			#{age},
			#{gender},
			#{inbodyDate},
			NOW()
		)		
	</insert>
	
	<!-- 회원이 보는 인바디 목록 -->
	<select id="selectMembershipMemberInbodyListById"
			parameterType="int"
			resultType="map">
		SELECT
			mmi.membership_member_inbody_id membershipMemberInbodyId,
			DATE_FORMAT(mmer.entrance_time,'%Y-%m-%d') entranceTime,
			mmi.trainer_application_id trainerApplicationId,
			mmi.inbody_date inbodyDate
		FROM membership_member_inbody mmi
			JOIN membership_member_entrance_record mmer ON mmer.membership_member_entrance_record_id = mmi.membership_member_entrance_record_id
			JOIN membership_member mm ON mmer.membership_member_id = mm.membership_member_id
			JOIN member m ON mm.member_id = m.member_id
		WHERE m.member_id = #{memberId}
	</select>
	
	<!-- 운동이용권 회원 인바디 상세보기 -->
	<select id="selectMembershipMemberInbodyOne"
			parameterType="int"
			resultType="map">
		SELECT
			mmi.membership_member_inbody_id membershipMemberInbodyId,
			DATE_FORMAT(mmer.entrance_time,'%Y-%m-%d') entranceTime,
			mmi.trainer_application_id trainerApplicationId,
			mmi.weight weight,
			mmi.skeletal_muscle_mass skeletalMuscle,
			mmi.body_fat_mass bodyFatMass,
			mmi.BMI BMI,
			mmi.percent_body_fat percentBodyFat,
			mmi.height height,
			mmi.age age,
			mmi.gender gender,
			mmi.inbody_date inbodyDate,
			DATE_FORMAT(mmi.last_update,'%Y-%m-%d') lastUpdate
		FROM membership_member_inbody mmi
			JOIN membership_member_entrance_record mmer ON mmer.membership_member_entrance_record_id = mmi.membership_member_entrance_record_id
		WHERE membership_member_inbody_id = #{membershipMemberInbodyId}
	</select>
</mapper>