<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.ReviewBoardMapper">
	<select id="selectReviewList"
			resultType="java.util.Map">
		SELECT
			r.review_id reviewId,
			l.lecture_name lectureName,
			m.member_name memberName,
			r.review_title reviewTitle,
			r.review_score reviewScore,
			r.create_date createDate
		FROM
			review r
			LEFT JOIN lecture_member lm ON lm.lecture_member_id = r.lecture_member_id
			LEFT JOIN member m ON m.member_id = lm.member_id
			JOIN lecture l ON lm.lecture_id = l.lecture_id
	</select>
	
	<select id="selectReviewOne"
			parameterType="int"
			resultType="java.util.Map">
		SELECT
			r.review_id reviewId,
			l.lecture_name lectureName,
			m.member_id memberId,
			m.member_name memberName,
			r.review_title reviewTitle,
			r.review_content reviewContent,
			r.review_score reviewScore,
			r.create_date createDate
		FROM
			review r
			LEFT JOIN lecture_member lm ON lm.lecture_member_id = r.lecture_member_id
			LEFT JOIN member m ON m.member_id = lm.member_id
			JOIN lecture l ON lm.lecture_id = l.lecture_id
		WHERE r.review_id = #{reviewId}
	</select>
	
	<select id="selectReviewLikeCount"
			parameterType="int"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			review_like
		WHERE
			review_id = #{reviewId}
	</select>
	<select id="selectReviewLikeCheck"
			parameterType="int"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			review_like
		WHERE
			review_id = #{reviewId} AND member_id = #{memberId}
	</select>
	
	<insert id="insertReviewLike">
		INSERT INTO
			review_like(review_id, member_id, last_update)
		VALUES
			(#{reviewId}, #{memberId}, NOW())
	</insert>
	<delete id="deleteReviewLike">
		DELETE FROM
			review_like
		WHERE
			review_id = #{reviewId} AND member_id = #{memberId}
	</delete>
	<insert id="insertReview"
			parameterType="com.gd.gym.vo.Review">
		INSERT INTO
			review(lecture_member_id, review_title, review_content, review_score, create_date, last_update)
		VALUES
			(#{lectureMemberId}, #{reviewTitle}, #{reviewContent}, #{reviewScore}, NOW(), NOW())
	</insert>
	<update id="updateReview">
		UPDATE
			review
		SET
			review_title = #{reviewTitle},
			review_content = #{reviewContent},
			review_score = #{reviewScore},
			last_update = NOW()
		WHERE
			review_id = #{reviewId}
	</update>
	<delete id="deleteReview">
		DELETE FROM
			review
		WHERE review_id = #{reviewId}
	</delete>
</mapper>