<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.TrainerApplicationMapper">
	<!-- 강사지원 조회 -->
	<select id="selectTrainerApplicationList"
			parameterType="int"
			resultType="map">
		SELECT
			ta.trainer_application_id trainerApplicationId,
			m.member_name memberName,
			et.employment_type employmentType,
			ta.apply_date applyDate,
			ta.last_update lastUpdate
		FROM trainer_application ta 
			JOIN resume r ON r.resume_id = ta.resume_id
			JOIN member m ON m.member_id = r.member_id
			JOIN job_opening jo ON jo.job_opening_id = ta.job_opening_id
			JOIN employment_type et ON et.employment_type_id = jo.employment_type_id
		WHERE permission_id = #{permissionId}
	</select>
	
	<!-- 강사 지원 목록 조회(회원) -->
	<select id="">
		SELECT 
			b.branch_name branchName, 
			r.resume_title resumeTitle, 
			et.employment_type employmentType,
			date_format(ta.apply_date, '%Y-%m-%d') applyDate 
		FROM trainer_application ta 
			LEFT JOIN resume r ON ta.resume_id = r.resume_id 
			LEFT JOIN job_opening jo on ta.job_opening_id = jo.job_opening_id 
			LEFT JOIN branch b ON jo.permission_id = b.permission_id 
			LEFT JOIN employment_type et ON jo.employment_type_id = et.employment_type_id
		WHERE r.member_id = #{memberId}
	</select>
	
	<!-- 강사지원 상세보기 -->
	<select id="selectTrainerApplicationOne"
			parameterType="Integer"
			resultType="map">
		SELECT
			ta.trainer_application_id trainerApplicationId,
			m.member_name memberName,
			m.member_mail memberEmail,
			m.member_address memberAddress,
			m.member_phone memberPhone,
			r.career career,
			r.type type,
			r.resume_img resumeImg, 
			r.certificate certificate, 
			r.resume_content resumeContent,
			et.employment_type employmentType,
			jo.job_opening_title jobOpeningTitle,
			ta.apply_date applyDate,
			ta.last_update lastUpdate
		FROM trainer_application ta 
			JOIN resume r ON r.resume_id = ta.resume_id
			JOIN member m ON m.member_id = r.member_id
			JOIN job_opening jo ON jo.job_opening_id = ta.job_opening_id
			JOIN employment_type et ON et.employment_type_id = jo.employment_type_id
		WHERE trainer_application_id = #{trainerApplicationId}
	</select>
</mapper>