<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.TrainerMemberMapper">
	<!-- 트레이너 데이터 세션 저장용 -->
	<select id="selectMemberLoginByTrainer" 
			parameterType="map" 
			resultType="map">
		SELECT
			tr.trainer_application_id trainerApplicationId,
			m.member_name memberName,
			m.member_mail memberMail
		FROM trainer_recruitment tr
			JOIN trainer_application ta ON ta.trainer_application_id = tr.trainer_application_id
			JOIN resume r ON r.resume_id = ta.resume_id
			JOIN member m ON m.member_id = r.member_id
		WHERE 
			m.member_mail = #{memberMail}
		AND 
			m.member_pw = PASSWORD(#{memberPw})
	</select>
</mapper> 