<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.TrainerMapper">
	<!-- 트레이너 조회 -->
	<select id="selectTrainerRecruitmentList"
			resultType="com.gd.gym.vo.TrainerRecruitment">
		SELECT
			trainer_application_id trainerApplicationId,
			permission_id permissionId,
			join_date joinDate,
			retire_date retireDate
		FROM
			trainer_recruitment
	</select>
	
	<!-- 트레이너 수정 -->
	<update id="updateTrainerRecruitment"
			parameterType="com.gd.gym.vo.TrainerRecruitment">
		UPDATE
			trainer_recruitment
		SET
			join_date = #{joinDate},
			retire_date = #{retireDate}
		WHERE
			trainer_application_id = #{trainerApplicationId}
	</update>
	
	<!-- 트레이너 삭제 -->
	<delete id="deleteTrainerRecruitment"
			parameterType="Integer">
		DELETE FROM
			trainer_recruitment
		WHERE
			trainer_application_id = #{trainerApplicationId}
	</delete>
</mapper>