<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.gym.mapper.TrainerMapper">
	<!-- 트레이너 채용 -->
	<select id="selectTrainerRecuitmentList"
			resultType="com.gd.gym.vo.TrainerRecruitment">
		SELECT
			trainer_application_id trainerApplicationId,
			permission_id permissionId,
			join_date joinDate,
			retire_date retireDate
		FROM
			trainer_recruitment
	</select>
</mapper>